<%= form_with(model: arsip, local: true) do |form| %>
  <% if arsip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arsip.errors.count, "error") %> prohibited this arsip from being saved:</h2>

      <ul>
      <% arsip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :judul %>
    <%= form.text_field :judul %>
  </div>

  <div class="field">
    <%= form.label :keterangan %>
    <%= form.text_area :keterangan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
