<p id="notice"><%= notice %></p>

<h1>Arsip</h1>

<table>
  <thead>
    <tr>
      <th>Judul</th>
      <th>Keterangan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arsip.each do |arsip| %>
      <tr>
        <td><%= arsip.judul %></td>
        <td><%= arsip.keterangan %></td>
        <td><%= link_to 'Show', arsip %></td>
        <td><%= link_to 'Edit', edit_arsip_path(arsip) %></td>
        <td><%= link_to 'Destroy', arsip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arsip', new_arsip_path %>
